.home_img_containers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 33px;
}

a{
    text-decoration: none;
}

#Img1, #Img6{
    width: 383px;
    height: 492px;
}

#Img2, #Img4, #Img3, #Img5{
    width: 247px;
    height: 228px;
}

.home_img_container_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_h1{
    color: #1E1E1E;
    font-family: UniversityRoman;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
    text-align: center;
}

.home_p{
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 42px;
    text-align: center;
}

.home_btn{
    color: #FFF4CF;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #6FBC29;
}

.home_btn:hover{
    transform: scale(1.2) perspective(1px);
}